.Main-Header{
  display: flex;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  flex: 1 0 auto;
  align-items: center;
  height: 90px;
}

.logos{
  display: flex;
  align-items: center;
}

.search{
  width: 580px;
  display: flex;
  justify-content: center;
}

.otherWeather{
  display: inline-table;
    position: absolute;
    right: -30%;
    top: 100%;
    background: cornflowerblue;
    padding: 20px;
    border-radius: 20px;
}

#btn{
  margin: 10px;
}